.example-tab-icon {
    margin-right: 10px;
}

.tab-container{
    margin-left: 25px;
    margin-top: 25px;
}

.host{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}