<h1>{{title}}</h1>
<div class="tab-container">
  <mat-tab-group>
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="example-tab-icon">assignment</mat-icon>
        Dados Cliente
      </ng-template>
      <p>Form Com dados do cliente</p>
    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="example-tab-icon">map_marked_alt</mat-icon>
        Endereço
      </ng-template>
      Form com dados Endereço
    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="example-tab-icon">phone</mat-icon>
        Contato
      </ng-template>
      <app-contato></app-contato>
    </mat-tab>
  </mat-tab-group>
</div>