<!-- <h1>{{title}}</h1> -->

<div class="tab-container shadow p-3 mb-5 bg-body rounded">
  <form class="row g-3" [formGroup]="formGroup">
    <mat-tab-group>
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon class="example-tab-icon">assignment</mat-icon>
          Dados Cliente
        </ng-template>


        <mat-radio-group aria-label="Selecione o tipo pessoa">
          <mat-label>Tipo Pessoa</mat-label>
          <mat-radio-button value="1">Pessoa Física</mat-radio-button>
          <mat-radio-button value="2">Pessoa Jurídica</mat-radio-button>
        </mat-radio-group>


        <div formGroupName="pessoa">

          <mat-form-field class="col-md-1">
            <mat-label>Código Pessoa</mat-label>
            <input type="text" matInput formControlName="codigopessoa">
            <mat-error>
              Por favor, informe um código!
            </mat-error>
          </mat-form-field>

          <mat-form-field class="col-md-4">
            <mat-label>Nome</mat-label>
            <input type="text" matInput formControlName="nome">
            <mat-error>
              Por favor, informe o nome do cliente!
            </mat-error>
          </mat-form-field>

          <div formGroupName="pessoaFisica">

            <mat-form-field class="col-md-1">
              <mat-label>CPF</mat-label>
              <input type="text" matInput formControlName="cpf">
              <mat-error>
                Por favor, informe o número de CPF
              </mat-error>
            </mat-form-field>

            <mat-form-field class="col-md-1">
              <mat-label>Identidade</mat-label>
              <input type="text" matInput formControlName="identidade">
              <mat-error>
                Por favor, informe o número de Identidade
              </mat-error>
            </mat-form-field>

            <mat-form-field class="col-md-2">
              <mat-label>Data Nascimento</mat-label>
              <input type="datetime" matInput formControlName="datanascimento">
              <mat-error>
                Por favor, informe a data de nascimento
              </mat-error>
            </mat-form-field>

            <mat-form-field class="col-md-2">
              <mat-label>Sexo</mat-label>
              <mat-select matInput formControlName="sexo">
                <mat-option value="M">Masculino</mat-option>
                <mat-option value="F">Feminino</mat-option>
              </mat-select>
              <mat-error>
                Por favor, informe o Sexo
              </mat-error>
            </mat-form-field>

            <mat-form-field class="col-md-2">
              <mat-label>Estado Civil</mat-label>
              <mat-select matInput formControlName="estadocivil">
                <mat-option value="1">Solteiro(a)</mat-option>
                <mat-option value="2">Casado(a)</mat-option>
                <mat-option value="3">Divorciado(a)</mat-option>
                <mat-option value="4">Viúvo(a)</mat-option>
              </mat-select>
              <mat-error>
                Por favor, informe o estado civil
              </mat-error>
            </mat-form-field>

            <mat-form-field class="col-4">
              <mat-label>Nome Pai</mat-label>
              <input type="text" matInput formControlName="nomepai">
              <mat-error>
                Por favor, informe o nome do pai
              </mat-error>
            </mat-form-field>

            <mat-form-field class="col-4">
              <mat-label>Nome Mãe</mat-label>
              <input type="text" matInput formControlName="nomemae">
              <mat-error>
                Por favor, informe o nome da mãe
              </mat-error>
            </mat-form-field>

          </div>

        </div>
      </mat-tab>

      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon class="example-tab-icon">map_marked_alt</mat-icon>
          Endereço
        </ng-template>
        <div formGroupName="pessoa">
          <div formArrayName="enderecos">
            <div *ngFor="let end of EnderecoForms.controls; let i=index" [formGroupName]="i">

              <mat-form-field class="col-md-3">
                <mat-label>Logradouro</mat-label>
                <input type="text" matInput formControlName="logradouro">
                <mat-error>
                  Por favor, informe o logradouro
                </mat-error>
              </mat-form-field>

              <mat-form-field class="col-md-3">
                <mat-label>Bairro</mat-label>
                <input type="text" matInput formControlName="bairro">
                <mat-error>
                  Por favor, informe o bairro
                </mat-error>
              </mat-form-field>

              <mat-form-field>
                <mat-label>Número</mat-label>
                <input type="text" matInput formControlName="numero">
                <mat-error>
                  Por favor, informe o número
                </mat-error>
              </mat-form-field>

              <mat-form-field class="col-md-3">
                <mat-label>Complemento</mat-label>
                <input type="text" matInput formControlName="complemento">
                <mat-error>
                  Por favor, informe o complemento
                </mat-error>
              </mat-form-field>

              <mat-form-field>
                <mat-label>Cep</mat-label>
                <input type="text" matInput formControlName="cep">
                <mat-error>
                  Por favor, informe o CEP
                </mat-error>
              </mat-form-field>

              <mat-form-field class="col-md-3">
                <mat-label>Cidade</mat-label>
                <input type="text" matInput formControlName="idcidade">
                <mat-error>
                  Por favor, informe a cidade
                </mat-error>
              </mat-form-field>

              <mat-form-field class="col-md-3">
                <mat-label>Estado</mat-label>
                <input type="text" matInput formControlName="idestado">
                <mat-error>
                  Por favor, informe o estado
                </mat-error>
              </mat-form-field>

              <mat-form-field class="col-md-3">
                <mat-label>País</mat-label>
                <input type="text" matInput formControlName="idpais">
                <mat-error>
                  Por favor, informe o País
                </mat-error>
              </mat-form-field>

              <mat-form-field>
                <mat-label>Endereço Principal</mat-label>
                <mat-select matInput formControlName="indprincipal">
                  <mat-option value="1">Sim</mat-option>
                  <mat-option value="0">Não</mat-option>
                </mat-select>
                <mat-error>
                  Por favor, informe se o endereço é o principal
                </mat-error>
              </mat-form-field>

            </div>
          </div>
        </div>

      </mat-tab>

      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon class="example-tab-icon">phone</mat-icon>
          Contato
        </ng-template>
        <div class="host" formGroupName="pessoa">
          <div formArrayName="contatos">
            <div *ngFor="let cont of ContatoForms.controls; let i=index" [formGroupName]="i">

              <mat-form-field>
                <mat-label>Tipo Contato</mat-label>
                <mat-select matInput formControlName="idtipocontato">
                  <mat-option value="1">Telefone Residencial</mat-option>
                  <mat-option value="2">Telefone Comercial</mat-option>
                  <mat-option value="3">E-mail</mat-option>
                  <mat-option value="4">fax</mat-option>
                  <mat-option value="5">Telefone Celular</mat-option>
                  <mat-option value="6">Telefone de cobrança</mat-option>
                  <mat-option value="7">Telefone de referência</mat-option>
                  <mat-option value="8">Visita Técnica</mat-option>
                  <mat-option value="9">Acesso Remoto</mat-option>
                  <mat-option value="10">Site</mat-option>
                </mat-select>
                <mat-error>
                  Por favor, informe o tipo de contato
                </mat-error>
              </mat-form-field>

              <mat-form-field class="col-md-3">
                <mat-label>Descrição Contato</mat-label>
                <input type="text" matInput formControlName="descricaocontato">
                <mat-error>
                  Por favor, informe o contato
                </mat-error>
              </mat-form-field>

              <mat-form-field>
                <mat-label>Contato Principal</mat-label>
                <mat-select matInput formControlName="indcontatoprincipal">
                  <mat-option value="1">Sim</mat-option>
                  <mat-option value="0">Não</mat-option>
                </mat-select>
                <mat-error>
                  Por favor, informe se é o contato principal
                </mat-error>
              </mat-form-field>

            </div>
          </div>
        </div>
      </mat-tab>
    </mat-tab-group>

    <div>
      <button mat-flat-button color="accent" (click)="voltar()">Voltar</button>
      <button mat-flat-button color="primary" type="submit" (click)="onSubmit()">Salvar</button>
    </div>

    <!-- <br>
    <br>
    Value: {{formGroup.value | json}}
    Valid: {{ formGroup.valid }} -->
  </form>
</div>
