<div [formGroup]="formGroup">
    <mat-form-field>
        <mat-label>{{titulo}}</mat-label>
        <mat-select matInput [formControlName]="controlName">
            <mat-option>Selecione</mat-option>
            <mat-option *ngFor="let item of optionList | keyvalue" [value]="+item.key">{{+item.key}} - {{item.value}}</mat-option>
        </mat-select>
        <mat-error *ngIf="validacao.hasErrorValidar(formControl, 'required')">O campo {{titulo}} é obrigatório</mat-error>
      </mat-form-field>
</div>
