.table-container {
    margin-left: 45px;
    margin-top: 18px;
}

table {
    width: 97%;
}

button.novo-cliente {
    position: absolute; right:0;
    margin-left: auto;
    margin-top: 75px;
}

.table-row:hover{
    cursor: pointer;
    background-color:#87bdd6;
}